extends layout.jade
block content
    //- Una muestra con Jade
    h1 Express y Jade
    h2  Comenzamos un proyecto con el framework Express y en template engine Jade
    ul
        li
            a(href="#{linkJade}" , target="_blank" ) Jade documentation
        li
            a(href="#{linkExpress}" , target="_blank" ) Express documentation